body{
    margin: 0;
}
header{
    background-color: black;
    height: 85px;
    color: white;
    display: flex;
    justify-content: space-around;

}
.logoHeader{
    width: 150px;
    height: 70px;
    display: flex;
    align-items: flex-end;
}
.search{
    display: flex;
    align-items: center;
}
.search1{
    height: 50px;
    border-radius: 15px;
    width: 150px;
    text-align: center;
}
main{
    height: 639px;
    background-color: whitesmoke;
}
footer{
    height: 250px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eshop{
    display: flex;
    justify-content: space-evenly;
    
}
.eshopItem{
    border: 2px solid black;
    border-radius: 15px;
    width: 150px;
    height: 220px;
    margin-top: 50px;
    
}
.service{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}
.service-dis{
    color: rgb(56, 50, 50);
    display: flex;
    justify-content: center;
    font-style: italic;
    margin: auto 6px;
}
.price{
    color: black(9, 185, 9);
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 35px 0;
    color: green;
}
footer > div > a {
    color: white;
}
.firstarticle{
    background-color: violet;
    max-width: 1200px;
    min-width: 116px;
    margin-top: 150px;
}
.buttonplace{
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstblock{
    display: flex;
    flex-direction: column;
}
.stuff{
    display: flex;
    justify-content: space-evenly;
}